/*body{*/
    /*margin: 61px 100px 30px 100px;*/
    /*width: 1280px;*/
/*}*/
.ram-head{

    font-size: 80pt;
    font-family: ﻿AdobeInvisFont, ﻿Courier, ﻿MyriadPro-Regular;
    /*padding-left: 101px;*/
    /*padding-top: 61px;*/
    margin-bottom: 45px;
    margin-top: 0 ;
}
.ram-head a{
    text-decoration: none;
    color: black;
}
.nav-top {
    /*width: 1280px;*/

}
.ul-top{

    height: 69px;
    padding-left: 130px;
    margin: 0 auto;
    list-style: none;
    background-color: #35444f;
}
.li-top{
    float: left;
    text-align: center;

}
.a-top{
    color: white;
    display: inline-block;
    height: 69px;
    line-height: 69px;
    text-decoration: none;
    font-size: 20pt;
    font-family: ﻿AdobeInvisFont, ﻿Courier, ﻿MyriadPro-Regular;;
    padding:0 40px;
}

.nav-side{
    width: 344px;
    /*height: 400px;*/
    float: left;

}
.ul-side{
    list-style-type: none;
    /*width: 344px;*/
    display: inline-block;
    /*height: 400px;*/
    /*margin-left: 100px;*/
    margin: 0;
    /*background-color: yellow;*/
    padding: 0;
    border: 1px solid #35444f;
}
.li-side{
    float: left;
    /*text-align: center;*/
    /*background-color: red;*/
    /*padding: 30px 0 30px 44px;*/
    display: block;
    width: 100%;
}
.a-side{
    display: block;
    font-size: 25px;
    font-family:  ﻿AdobeInvisFont, ﻿Courier, ﻿MyriadPro-Regular;
    color: #485863;
    padding: 30px 0px 30px 44px;
    text-decoration: none;
    /*background-color: navy;*/
}
 .a-side:hover{
     background-color: #dbdbdb;
     color: black;
     font: bolder;
     padding-left: 69px;
 }
 .a-top:hover{
     background-color: #222f3a;
 }

 .logo{
     height: 381px;
     width: 320px;
     padding: 75px 283px ;
     /*margin-top: 50px;*/
     /*margin-left: 52px;*/
     border: 1px solid #485863;
 }
 .sec{
     margin-top: 51px;
     /*position: relative;*/

 }
 .logo2{
     /*position: absolute;*/
     /*display: block;*/
     float: right;
     right: 0px;
     margin-top: ;
 }
 .logo:hover{
     height: 410px;
     width: 350px;
     padding: 60.5px 268px;
 }
 .p-top{
     margin-top: 50px;
     margin-right: 40px;
     margin-left: 30px;
 }
 .p-bot{
     margin: 30px 35px 0 30px;
 }
 .foot{
     width: 100%;
     /*height: 69px;*/
     background-color: #b4b7ba;
     display: inline-block;
     font-size: 22pt;
 }
 span ul{
     list-style-type: none;
     /*font-size: 20pt;*/
     font-family: ﻿AdobeInvisFont, ﻿Courier, ﻿MyriadPro-Regular;
     width: 70%;
     display: inline-block;
     margin-top:21px ;
     margin-left: 44px;
     margin-bottom: 21px;
 }
 .foot li{
     display: inline-block;
 }
 .foot li a{
     text-decoration: none;
     color: black;
 }
.foot li a:hover{
    text-decoration: underline;
    color: #3181a6;
}