body{
    background-image: url("../img/journey-back-photo.png") ;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.container-sec-1{
    position: relative;
    /*width: 1193px;*/
    height: 30px;
    width: inherit;
    padding: 20px 75px 20px 81px;
    /*margin:20px auto;*/
    background: rgba(0,0,0,0.5);
    /*justify-content: center;*/
    /*display: inline-block;*/
}
.upcase{
    text-transform: uppercase;
}
.h2-font{
    font-size: 20pt;
    font-family: 'Lato', sans-serif ;
    font-weight: 700;
    color: white;
    text-align: left;

}
.h2-font:hover{
    color: #3cb878;
}
.h2-left{
    display: inline;
    float: left;
    width: 200px;
}
.navbar-menu{
    float: right;
    top:19px;
    display: inline;

}
.navbar-menu > li{
    display: inline;
    /*position: absolute;*/
    /*background-color: green ;*/
}
.navbar-menu>li a{
    text-decoration: none;
}
.sprite-content{
    top: 0;
    /*position: absolute;*/
}
.sprite-content:hover{
    content: url("../img/sprite-hover-hw4.png");
}

.welcome-text{
    color: white;
}
.welcome-text:before{
    /*padding: 24px;*/
    content: " ";
    display: inline;
    position: absolute;
    border-left: 1px solid white;
    height: 19px;
}
.or-text{
    color: white;
}
.bg-ic_caledar@1X {
   width: 19px; height: 19px;
   background: url('css_sprites.png') -14px -14px;
}
.bg-community {
    width: 28px; height: 20px;
    background: url('css_sprites.png') -109px -14px;
}
.bg-compass {
    width: 20px; height: 20px;
    background: url('css_sprites.png') -61px -14px;
}
.clear-fixes:: after{
    content: ' ';
    clear: both;
    display: block;
}
.container-sec-2{
    width: 444px;
    height: 604px;
    margin: 65px auto;
    background-color: white;
    position: relative;
}
.kvadrat{
    position: absolute;
    width: 18px;
    height: 18px;
    top: 35px;
    background-color: #3cb878;
}
.container-sec-3{
    position: absolute;
    left: 61px;
    width: 322px;
    height: 26px;
    margin: 30px auto 15px;
    /*background-color: green;*/

}
.sec-3-left{
    color: #434343;
    font-size: 20pt;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    float: left;
}
.sec-3-right{
    color: #3cb878;
    font-size: 14pt;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    float: right;
    vertical-align: center;
    margin: 3px;
}
.container-sec-4{
    position: absolute;
    left: 61px;
    top: 71px;
    width: 322px;
    height: 46px;
    margin:0 auto ;
    /*background-color: yellow;*/
}
.button-left{
    width: 157px;
    height: 46px;
    border: none;
    border-radius: 4px;
    float: left;
    position: relative;
    /*flex-direction: row;*/
    /*justify-content: space-between;*/
    /*box-sizing: content-box;*/
}
.button-right{
    width: 157px;
    height: 46px;
    border: none;
    border-radius: 4px;
    float: right;
    position: relative;
    /*flex-direction: row;*/
    /*justify-content: space-between;*/
    /*box-sizing: content-box;*/
}
.button-left-color{
    background-color: #305db8;
}
.button-right-color{
    background-color: #df4a32;
}
.left-pad{
    padding: 13px 20px;
}

.container-sec-5{
    width: 120px;
    height: 20px;
    margin: 13px auto;
    /*background-color: black;*/
}
.button-img-left{
    display: inline-block;
    float: left;
    width: 10px;
    height: 20px;
    /*padding-top: 13px;*/
    /*padding-left: 20px;*/
}
.button-img-right{
    display: inline-block;
    float: left;
    width: 25px;
    height: 16px;
    /*padding-top: 13px;*/
    /*padding-left: 20px;*/
}
.button-txt{
    display: inline;
    float: right;
    font-size: 13pt;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    margin-left: 18px;
    color: white;
}
.button-txt:before{
    content: " ";
    display: inline;
    position: absolute;
    border-left: 1px solid navy;
    height: 15px;
}
.center{
    font-size: 14pt;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    position: absolute;
    top: 142px;
    left: 215px;
    /*margin-bottom: 26px ;*/
    /*margin: 0 18px;*/
}
.center:after{
    content: " ";
    display: inline;
    right: 60px;
    /*top:146px*/
    /*float: right;*/
    position: absolute;
    width: 107px;
    border-bottom: 1px solid #eaeaea;
    /*margin-bottom: 26px;*/
}
.center:before{
    content: " ";
    display: inline;
    left: 60px;
    /*top: 146px;*/
    position: absolute;
    width: 107px;
    border-bottom: 1px solid #eaeaea;
    /*margin-bottom: 26px;*/
}
.center-color{
    color: #848484;
}
.log-in-main{
    width: 322px;
    position: absolute;
    margin: 26px auto 22px;

    /*margin: 9px auto;*/
    top: 158px;
    /*left: calc(100%-322px)/2;*/
    left: 60px;
}
.log-in-main input{
    display: flex;
    width: 305px;
    height: 46px;
    margin: 9px 0;
    padding-left: 17px;
    border: 1px solid #eaeaea;
    padding-top: 0;
}
.input-size{
    font-size: 12pt;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
}
.radius{
    border-radius: 4px;
}
.checkbox-size{
    position: relative;
}
.log-in-main input:first-child{
    margin-top: 0;
}
.log-in-main input:last-child{
    margin-bottom: 0;
}
.log-in-main input:focus{
    color: #434343;
    border: 1px solid grey;
    /*font-weight: 700;*/
    box-shadow: 5px 5px 8px #e7e7e7;
}
.span-color{
    color: #3cb878;
}
.span-color:hover{
    border-bottom: 1px solid #3cb878;
}
.terms-align{
    display: inline;
    margin-left: 10px;
    /*vertical-align: center;*/
}
/*    position: absolute;*/
/*    top: 485px;*/
/*    padding-left: 60px;*/
/*    font-size: 14pt;*/
/*    font-family: 'Lato', sans-serif;*/
/*    font-weight: 400;*/
/*}*/
#checkbox-size{
    /*position: absolute;*/
    margin-top: 10px;
    /*justify-content: left;*/
    width: 20px;
    height: 20px;
    display: inline-block;
    font-size: 14pt;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    /*margin-left: 13px;*/
}
input[type="checkbox"]:checked{
    color: #3cb878;
}
#submit-size{
    background-color: #3cb878;
    color: white;
    width: 322px;
    height: 46px;
    padding: 17px 100px;
    margin-top: 15px;
    /*margin-bottom: 30px;*/
}
