@import "fonts.css";
body{
    background-image: url("../img/background.png");
    /*filter: brightness(50%);*/
    margin: 0;
}
/*#background-img{*/
/*    background-image: url("../img/background.png");*/
/*    background-repeat: no-repeat;*/
/*    background-size: cover;*/
/*    width: auto;*/
/*    height:400px ;*/
/*}*/
.all-page{
    margin-left: 120px;
}
.header-logo{
    /*background-color: deeppink;*/
    width: 165px;
    height: 44px;
    margin-top: 50px;
}
.header-logo-img {
    width: 46px;
    height: 44px;
    float: left;
    margin-right: 16px;
    display: inline-block;
}
.header-logo-txt{
    display: inline-block;
    vertical-align: top;


}
a{
    text-decoration: none;
}
.logo-uppercase{
    text-transform: uppercase;
    color: white;
    margin: 0;
    /*font-size: 18pt;*/
    font-family:  'Montserrat', sans-serif;
    font-weight: 700;

}
.alignment{
    text-align: right;
    display: inline-block;
}
.header-mail{
    position: absolute;
    display: inline-block ;
    float: right;
    /*text-align: right;*/
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 18pt;
    font-weight: 400;
    top: 49px;
    right: 147px;
    margin: 0;

}
.header-number{
    position: absolute;
    display: inline-block;
    float: right;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 18pt;
    top:80px;
    right: 147px;
    margin: 0;
}

.main-part{
    width: auto;
    /*height: 538px;*/
    /*background-color: aqua;*/
    margin-top: 48px;
    float: left;
    margin-right: 68px;
}

.each-container{
    /*background-color: yellow;*/
    position: relative;
    float: left;
    width: 307px;
    height: 240px;
    padding-left: 0;
    margin-top: 0;

}
/*a.each-container-img:hover {*/
/*    !*display: block;*!*/
/*    width: 312px;*/
/*    height: 63px;*/
/*    background-color:;*/
/*    z-index: 1;*/
/*}*/
.hovering{
    position: relative;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #f26522 ;
    overflow: hidden;
    width: 100%;
    height: 0;
    transition: .2s ease;
}
.each-container:hover .hovering{
    height: 63px;
}
.text-in-hover{
    color: white;
    display: inline-block;
}
/*.container:hover .overlay {*/
/*    height: 100%;*/
/*}*/
.each-container-img{
    width: 307px;
    height: 200px;
    float: left;
    display: block;
    border: 2px solid white;

}
.each-container-txt{
    color: white;
    /*position: static;*/
    /*float: left;*/
    text-align: center;
    display: block;
    margin: 0;
    vertical-align: middle;
    font-size: 18pt;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}
.footer-div{
    display: inline-block;
    width: 100%;
    margin-top: 56px ;
    margin-bottom: 20px;
}
.footer-bot{
    /*text-align: center;*/

    /*display: inline-block;*/
    text-align: center;
    font-size: 12pt;
    font-family: 'Montserrat', sans-serif;
    color: white;

}