body{
    /*background-image: url(../img/galaxy.jpg);*/
    /*background-size: cover;*/
    background-color: black;
}
.titles-div{
    position: absolute;
    width: 650px;
    height: 700px;
    bottom: 0;
    left: 40%;
    margin-left: -150px;
    font-size: 350%;
    text-align: justify;
    overflow: hidden;
    transform-origin: 50% 100%;
    transform: perspective(200px) rotateX(20deg);
}
.titles-div:after{
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 60%;
}
.titles-div p{
    text-align: justify;
    margin: 13px 0;
    color: yellow;
}
.titles-div p.center{
    text-align: center;
}
.titles-div a{
    color: yellow;
    text-decoration: underline;
}
.titles-div-content{
    position: absolute;
    color: yellow;
    top: 100%;
    animation: scroll 30s linear 1s infinite;
}
@keyframes scroll {
    0% {top: 100%;}
    100%{top: -150%;}
}