body{
    /*width: 1900px;*/
    /*background-color: #f2f2f2;*/
}
.menu{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #1d2124;
}
.logo-part{
    display: flex;
    flex-direction: row;
    /*align-items: flex-start;*/
}
.logo-part-img{
    width: 27px;
    height: 27px;
    margin: 22px;
    /*position: absolute;*/
    /*justify-content: center;*/
    /*align-items: center;*/
}
.logo-part-back{
    width: 71px;
    height: 70px;
    background-color: #1a1d20;
    /*display: flex;*/
    /*position: relative;*/
}
.logo-part-header{
    font-size: 22pt;
    color: white;
    font-weight: 700;
    font-family: "Courier New", sans-serif;
    align-self: center;
    margin-left: 6px;
    margin-top: 0;
    margin-bottom: 0;
}
.menu-nav-bar{
    display: flex;

    /*align-items: center;*/
    /*justify-content: center;*/
}
.menu-nav-bar-list {
    display: flex;
    flex-direction: row;
    text-align: center;
}
.menu-nav-bar ul>li{
    list-style-type: none;
    align-self: center;

}
.menu-nav-bar ul>li a{
    text-transform: uppercase;
    text-decoration: none;
    font-family: "Courier New", sans-serif;
    font-size: 15pt;
    font-weight: 700;
    color: white;
    margin-right: 37px;
}
/*.menu-nav-bar ul>li :last-child{*/
/*margin-right: 0;*/
/*}*/
.menu-search{
    background-color: #171a1c;
    width: 68px;
    height: 70px;
}
.menu-search-icon{
    width: 17px;
    height: 17px;
    margin: 27px 25px 26px 26px;
}
/* here ends nav bar section*/

.latest-news-div{
    height: 404px;
    background-image: url("../img/the-latest-news.jpeg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    filter: brightness(50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /*vertical-align: middle;*/
}

.latest-news-div-flex{
    /*align-items: center;*/
    justify-content: center;
}
.latest-news-div-header{
    font-size: 27pt;
    font-family: "Courier New", sans-serif;
    color: white;
}
.latest-button-sec{
    display: flex;
    flex-direction: row;
    justify-content: center;
    /*width: inherit;*/
}
.latest-news-div-header-button{
    width: 170px;
    height: 55px;
    border-radius: 5px;
    border: none;
    margin-top: 44px;


}
.left-button{
    background-color: #89ca62;
    margin-right: 20px;
}
.right-button{
    background-color: #14b9d5;
}
/*here ends the latest news section*/
.popular-div{
    width: inherit;
    height: 1030px;
    background-color: #f2f2f2;
    /*display: flex;*/
    /*flex-direction: unset;*/
    /*justify-content: center;*/
    /*text-align: center;*/
    /*position: absolute;*/
    /*top:473px;*/
    /*background-color: yellow;*/
}
.popular-div-head{
    text-transform: uppercase;
    color: #18b4cf;
    padding-top: 45px;
    margin-bottom: 52px;
    text-align: center;
    font-family: "Courier New", sans-serif;
    font-size: 27pt;
    font-weight: bolder;

}
.popular-div-flex{
    width: 1170px;
    height: 893px;
    margin: 0 auto;
    /*margin-left:  calc((100%-(3*370px))-60px)/2;*/
    /*margin-right:  calc((100%-(3*370px))-60px)/2;*/
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

}

.popular-each{
    width: 370px;
    margin-right: 30px;
    /*background-color: #1a1d20;*/
}
.popular-each:nth-child(3){
    margin-right: 0;
}

.popular-each:last-child{
    margin-right: 0;
    /*align-self: flex-end;*/
}
.popular-each-img-1{
    /*width: 370px;*/
    height: 260px;
}
.popular-each-img-2{
    /*width: 370px;*/
    height: 380px;
}
.popular-each-txt{
    padding-top: 20px;
    padding-bottom: 22px;
    margin-bottom: 31px;
    text-align: center;
    font-size: 14pt;
    font-family: "Courier New", sans-serif;
    background-color: white;
}
.popular-each-img-3{
    height: 290px;
}
.popular-each-img-5{
height: 247px;
}
/*here ends the the most popular posts section*/
.pop-cli-div{
    background-image: url("../img/background-2.jpeg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    filter: brightness(50%);
    height: 590px;
    width: inherit;
    background-position: 50% 50%;
    display: grid;
    grid-template-rows: auto ;
    align-self: center;
    /*position: relative;*/
}
.pop-cli-txt-area{
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto;
    grid-row-gap: 35px;
    justify-items: center;
    align-self: center;
}
.pop-cli-header{
    /*position: absolute;*/
    color: white;
    text-align: center;
    font-family: "Courier New", sans-serif;
    font-size: 32pt;
    font-weight: 700;
    text-transform: uppercase;
    grid-row-start: 1;
}
.pop-cli-txt-area-hr{
    width: 60px;
    height: 3px;
    background-color: #169cb4;
    border: none;
    grid-row-start: 2;
}
/*.pop-cli-header::after{*/
/*    border-bottom: 3px solid white;*/
/*    width: 60px;*/
/*    */
/*}*/
.pop-cli-third-line{
    grid-row-start: 3;
    display: grid;
    /*grid-template-columns: ;*/
}
.pop-cli-third-line-grid{
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-column-gap: 76px;
}
.pop-cli-third-line-grid img{
    align-self: center;
}
/*here ends the the popular clients section*/

.top-rated-head{
    margin: 63px auto 52px;
    color: #18b4cf;
    font-size: 27pt;
    font-weight: 700;
    font-family: "Courier New", sans-serif;
    text-transform: uppercase;
    text-align: center;
}

.top-rated-img{
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto;
    overflow-x: auto;
}
.top-rated-img img{
    width: 271px;
    height: 190px;
}
/*here ends the top rated section*/
.hot-news-grid{
    margin:0 auto ;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto auto auto ;
}
.hot-news-1{
    width: 856px;
    height: 259px;
}
.hot-news-1-txt{
    /*display: inline-block;*/
    width: 373px;
    height: inherit;
    float: right;
    background-color: #f9f7f7;
    /*margin-left: 0;*/
}
.hot-news-1-txt h4{
    font-size: 14pt;
    font-family: "Courier New", sans-serif;
    font-weight: 700;
    margin: 41px auto 22px;
    text-align: center;
    color: #353a3d;
}
.hot-news-1-txt p{
    font-family: "Courier New", sans-serif;
    font-size: 12pt;
    font-weight: 400;
    margin: 0 auto 37px;
    text-align: center;
    color: #666e72;
}
.hot-news-2{
    background-color: #f9f7f7;
    width: 277px;
}
.hot-news-2-txt{

    width: 277px;
    /*padding: auto;*/
}
.hot-news-2 p{
    color: #353a3d;
    font-weight: 700;
    font-size: 14pt;
    font-family: "Courier New", sans-serif;
    text-align: center;
    margin: 15px
}
.hot-news-3{
    width:554px ;
    background-color: #f9f7f7;
}
.hot-news-3-txt{
    /*width: 554px;*/
    /*padding: 20px 27px 21px 22px;*/

}
.hot-news-3-txt h4{
    font-size: 14pt;
    font-weight: 700;
    font-family: "Courier New", sans-serif;
    color: #353a3d;
    text-align: right;
    margin-bottom: 22pt;
    margin-right: 22px;
    margin-top: 20px;
}
.hot-news-3-txt p{
    font-size: 12pt;
    font-weight: 400;
    font-family: "Courier New", sans-serif;
    color: #353a3d;
    text-align: right;
    margin: 22px;
}
/*here ends the hot news section*/
.footer-div{
    background-color: #1d2124;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 80pt;
    padding: 0 12px;
}
footer p{
    color: white;
    font-family: "Courier New", sans-serif;
    font-size: 12pt;
    font-weight: 400;
}
footer span::first-child{
    width: 38px;
    height: 24px;
    margin-left: 5px;
}
footer span ::last-child{
    width: 64px;
    height: 16px;
}