/*@import url('https://fonts.googleapis.com/css?family=Arimo:400,700&display=swap');*/
body{
    background-image: url("../img/background-hw5.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    /*font-size: 16pt;*/
}
table{
    border-collapse: collapse;

}
tbody > tr,th,td{
    text-transform: uppercase;
    text-align: center;
    vertical-align: middle;
    border: 1px solid #cacaca;
    padding: 30px;
    color:#484848;
    font-size: 16pt;
    font-family: 'Arimo', sans-serif;
    /*display: inline-block;*/
}
thead>tr>th, thead>tr>td{
    background-color: #fafafa;
}

thead > td:nth-child(1){
    background-color: #89c331;
}
th{
    width: 310px;
    height: 69px;

}
td{
    width: 277px;
    height: 69px;
}
.th-top{
    font-size: 18pt;
    font-family: 'Arimo', sans-serif;
}
.th-span{
    font-size: 30pt;
    font-family: 'Arimo-bold', sans-serif;
    font-weight: 700;
}
.td-1{
    background-color: #89c331;
}
.td-2{
    background-color: #f04a56;
}
.td-3{
    background-color: #20807c;
}
.td-font{
    color: #ffffff;
    font-size: 24pt;
    font-family: 'Arimo', sans-serif;
}
#td-head-botom{
    font-size: 60pt;
    font-weight: 700;
    /*width: 136px;*/
    /*height: 50px;*/
}
.td-span-1{
    font-size: 24pt;
    display: inline-block;
    /*float: left;*/
    /*text-align: start;*/

    /*top:22px;*/
}
.td-span-2{
    font-size: 18pt;
    display: block;
    text-align: left;
}
.td-div{
    display: inline-block;
    text-align: left;
    box-sizing: content-box;
    height: 60px;
}
.row-img-p{
    vertical-align: center;
    /*padding: 30px;*/
    /*justify-content: center;*/
}
tr:nth-child(even){
    background-color: #e3e3e3;
}
tr:nth-child(odd){
    background-color: #f2f2f2;
}
.storage-img{
    width: 23px;
    height: 21px;
    /*display: inline-block;*/
}
.bandwich-img{
    width: 26px;
    height: 19px;
}
.mail-img{
    width: 24px;
    height: 20px;
}
.support-img{
    width: 24px;
    height: 25px;
}