body{
    background-color: black;
}
.header-logo{
    float: left;
    background-color: deeppink;
    width: 165px;
    height: 44px;
}
.header-logo-img{
    float: left;
    width: 46px;
    height: 44px;
    margin-right: 15px;
    display: inline-block;
    vertical-align: middle;
}
.header-logo-text{
    float: left;
    display: inline-block;
    vertical-align: middle;
}
.upcase{
    text-transform: uppercase;
    color: white;
    width: 104px;
    height: 22px;
    margin: 0;
    margin-block-end: 0;
    margin-block-start: 0;
    text-align: left;
}
/*.main-part{*/
/*    background-color: green;*/


/*}*/
/*.each-section{*/
/*    background-color: deeppink;*/
/*    display: block;*/
/*    float: left;*/
/*}*/
/*.each-section-img{*/
/*    float: left;*/
/*    width: 307px;*/
/*    height: 200px;*/
/*}*/
/*.each-section-text{*/
/*    position: inherit;*/
/*    font-size: 18pt;*/
/*    text-align: center;*/
/*    margin: 0;*/
/*}*/